$font-url: "https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css";
$font-name: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$color-border: #aaa !default;
$color-dark: #1f2328;
$color-muted: #6e7781;
$color-primary: #0969da;

$bg-primary: #f6f8f9;

$border-color: #dee2e6;

$white: #fff;
$black: #000;
