.search-bar {
  width: 240px;
  padding: 8px 10px;
  font-size: 14px;
  outline: none;
  background: none;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;

  &:focus {
    color: #000;
    border-color: white;
    border-bottom-color: white;
    outline: 0;
    box-shadow: none;
    border-radius: 6px 6px 0 0;
    background-color: white;
  }
}
