.pagination {
  & .page-link,
  .disabled .page-link {
    font-size: 13px;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 6px;

    &:focus {
      box-shadow: none;
    }
  }
}
