.navigation2 {
  & li.selected {
    position: relative;
  }

  & li.selected::after {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 8px solid #d4dce3;
    border-bottom: 8px solid transparent;
    content: " ";
    display: block;
    position: absolute;
    bottom: 15px;
    right: -8px;
  }
}
