.badge {
  cursor: pointer;

  &.primary {
    padding: 5px 12px;
    color: #0969da;
    border: 1px solid #a8e1fd;
    background-color: #ddf4ff;
    border-radius: 15px;

    &:hover,
    &.selected {
      color: white;
      background-color: #0969da;
    }
  }

  &.success {
    padding: 4px 6px;
    font-size: 12px;
    color: green;
    border: 1px solid green;
    border-radius: 15px;
  }

  &.secondary {
    padding: 3px 5px;
    font-size: 11px;
    opacity: 0.75;
    color: #656d76;
    border: 1px solid #656d76;
    border-radius: 13px;
  }
}
